.header {
    background: #50008a;
    background: linear-gradient(90deg, rgba(80, 0, 138, 1) 0%, rgba(255, 171, 249, 1) 50%, rgba(80, 0, 138, 1) 100%);
}

.ulCabecario {
    color: rgb(227, 244, 255);
    height: 120;
    font-size: 30px;
}

.button {
    position: absolute;
}

@media screen and (max-width: 600px) {
    .header {
        width: 100vw;
        height: 100vw;
    }
}